@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Righteous');

h1{
	margin-top: 50px;
	font-family: 'Righteous', cursive;
	font-size: 50px;
	}
*{
    padding: 0px;
    margin: 0px;
	background-color: #ffefcc;
}


body{
    text-align: center;
}

canvas{
    background: #ffa366;
	box-shadow: 5px 5px 50px #ffd1b3;
    -webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
}

canvas:hover
{
	width: 51px;
	height: 51px;
}

#canvasDiv{
    margin: 70px auto 40px;
}



#button1
{
	width: 250px;
	height: 50px;
	margin-bottom: 200px;
	border: 2px solid orange;
	background-color:#ffefcc;
}

a
{
	text-decoration: none;
    color: #ff6600;
	text-shadow: 5px 5px 50px #ffa366;
    font: 20px tahoma;
}

#button1:hover
{
    font-size: 22px;
}
