.stopwatch{
    width: 350px;
    background-color: mistyrose;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0,0,0, 0.75), 0 0 1px rgba(0,0,0, 0.15);
    /*-webkit-box-shadow: rgb(110, 110, 110) 8px 8px 7px;*/
    padding: 15px;}

    .controls {
        display: flex;
		background-color: mistyrose;}

        button {
            flex-grow: 1;
            margin: 0 5px 4px;
            padding: 5px 0;
            border-radius: 5px;
            box-shadow: 0 2px rgba(0,0,0,0.75);
            outline: 0;
            font-size: 16px;
            color: white;
            border-color:white;
            background-color: mediumpurple;
            cursor: pointer;

        }
        button:active{
            margin-bottom: 0;
            margin-top: 4px;
            box-shadow: none;
            transition: all 0.15s ease-out;
        }

        button:hover {
            background-color: white;
            border-color: mediumpurple;
            color: mediumpurple;
            transition: all 0.15s ease-out;
        }
        .start {
        }








        .stop {

        }

        .reset {

        }


    .display{
        font-size: 50px;
        font-family: sans-serif;
        text-align:center;
        margin-top: 10px;
		}

    span:not(:last-child):after {
        content: ':';
		}











